@import "tailwindcss";


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    text-decoration: underline;
    font-size: 3rem;
    white-space: nowrap;
    text-transform: capitalize;
}