* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 20px;
  background-color: black;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 1px 1px 20px rgb(218, 215, 215); */
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid rgb(195, 193, 193);
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 0.2rem;
  background-color: transparent;
  color: #7a7979;
}
.center h3 {
  font-size: 17px;
  font-weight: 500;
}
.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2 {
  font-size: 20px;
  font-weight: 600;
}
.center .tag {
  display: flex;
  gap: 0.3rem;
  margin-top: 10px;
}
.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 500;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #e8e8e8;
  padding-top: 15px;
}
.bottom button {
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  font-weight: 600;
}
.bottom h3 {
  font-size: 17px;
}
.bottom p {
  font-size: 10px;
  color: #7a7979;
}
