* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    background-color: gray;
}
h1{
   padding: 12px 80px;
    border-radius: 12px; 
    background-color: gray;
    width: fit-content;
    font-size: 100px;
    margin: 20px;
    border-radius: 5px;
  
}
button:active{
    scale: 0.95;
}